<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
    </div>
    <div class="site-nav-right">
            <div class="menu">
                <div id="toggle-site-nav-dropdown" class="menu-button">
                    <svg height="50" width="50">
                        <circle cx="25" cy="13" r="4" stroke="white" stroke-width="1"></circle>
                        <circle cx="25" cy="25" r="4" stroke="white" stroke-width="1"></circle>
                        <circle cx="25" cy="37" r="4" stroke="white" stroke-width="1"></circle>
                    </svg>
                </div>
            </div>
    </div>
</nav>
